In [1]:
import csv
import numpy as np
import pandas as pd


def writer(name, a) :
    with open(('answ_'+str(name)+'.txt'), 'w') as w :
        w.write(str(a))

In [63]:
train = pd.read_csv('close_prices.csv.csv')

train.head()
# train['AXP'].shape

,date,AXP,BA,CAT,CSCO,CVX,DD,DIS,GE,GS,...,PFE,PG,T,TRV,UNH,UTX,V,VZ,WMT,XOM
0,2013-09-23,76.440002,117.510002,85.029999,24.270000,125.519997,59.409999,64.750000,24.280001,165.250000,...,28.799999,79.279999,34.220001,86.379997,71.820000,109.419998,196.240005,47.980000,76.419998,87.750000
1,2013-09-24,76.070000,119.000000,85.110001,24.139999,124.489998,59.319997,64.320000,24.320000,162.970001,...,28.709999,78.620003,34.090000,85.870003,72.320000,110.000000,193.339996,47.270000,75.750000,87.360001
2,2013-09-25,75.989998,118.510002,84.500000,24.430000,124.070000,59.319997,64.449997,24.230000,162.309998,...,28.490000,77.720001,34.049999,85.980003,71.980003,109.260002,191.559998,46.950001,74.650002,87.139999
3,2013-09-26,76.320000,119.379997,84.199997,23.770000,123.489998,59.509996,65.239998,24.250000,162.289993,...,28.520000,78.050003,34.230000,85.830002,72.160004,109.660004,193.559998,47.669998,74.620003,87.070000
4,2013-09-27,75.889999,118.739998,83.800003,23.330000,122.639999,59.009995,65.190002,24.049999,159.850006,...,28.879999,77.209999,33.980000,85.410004,71.989998,109.360001,193.050003,47.000000,74.360001,86.900002

In [10]:
from sklearn.decomposition import PCA
est = PCA(n_components = 10)
est.fit(train.iloc[:,1:])

PCA(copy=True, iterated_power='auto', n_components=10, random_state=None,
    svd_solver='auto', tol=0.0, whiten=False)

In [35]:
est.components_ 

est.explained_variance_ratio_[:-6].sum()
writer(111, 4)

In [44]:
first_comp = est.transform(train.iloc[:,1:])
first_comp_df = pd.DataFrame(first_comp)[0]
first_comp_df

0     -50.902404
1     -52.846909
2     -54.614439
3     -52.600566
4     -52.370123
         ...
369    81.290980
370    77.903534
371    83.798199
372    79.195789
373    82.968859
Name: 0, Length: 374, dtype: float64

In [45]:
train2 = pd.read_csv('djia_index.csv.csv')
train2['^DJI']

0      15401.379883
1      15334.589844
2      15273.259766
3      15328.299805
4      15258.240234
           ...
369    17895.220703
370    17749.310547
371    17977.419922
372    17849.080078
373    18076.189453
Name: ^DJI, Length: 374, dtype: float64

In [59]:
corr = np.corrcoef(train2['^DJI'], first_comp_df.values)
corr_round = round(corr[0][1], 2)
writer(112, corr_round)

In [86]:
max_first_com = pd.DataFrame(first_comp)
max_first_com

,0,1,2,3,4,5,6,7,8,9
0,-50.902404,17.631677,7.736021,2.596010,2.377569,4.244055,12.883088,3.556570,-5.821974,-1.726040
1,-52.846909,19.146907,7.272546,4.618575,0.102182,3.935519,11.062930,3.432599,-5.633181,-2.012232
2,-54.614439,19.927358,8.109958,4.920347,-0.421454,4.555335,10.119224,4.175203,-5.388287,-2.752699
3,-52.600566,19.941571,6.948113,4.806243,0.319779,5.065505,9.849605,3.266579,-5.974574,-1.922746
4,-52.370123,22.289064,8.410868,3.833372,-2.464882,4.359897,7.988691,3.452709,-5.745204,-1.875131
...,...,...,...,...,...,...,...,...,...,...
369,81.290980,18.000532,-9.494124,14.199909,1.316693,8.919781,-5.755256,2.526502,-5.359847,-2.279987
370,77.903534,20.647020,-6.150860,15.059089,-0.824233,7.737595,-7.921301,3.533730,-4.255878,-3.066492
371,83.798199,16.952413,-8.252656,16.393537,1.822557,6.867906,-4.756739,2.923904,-4.595438,-2.990335
372,79.195789,19.144360,-6.932630,18.396232,1.626091,6.367810,-5.745384,3.404754,-3.667933,-3.576076
373,82.968859,13.135140,-9.076443,18.982002,3.585044,5.848639,-4.077595,3.751004,-4.791722,-3.039189

In [ ]:
X.columns[np.argmax(pca.components_[0])]

In [193]:
X = train.iloc[:,1:]
X

Logic = pd.DataFrame(est.components_).iloc[:1,:] == pd.DataFrame(est.components_).iloc[:1,:].values.max()
Logic = np.array(Logic, dtype = bool)
Logic[0]
len(Logic[0])
name_company = X.columns[Logic[0]]
writer(113,name_company)